base_folder_path = "投稿素材のフォルダパス"
dest_folder = "投稿済み素材のフォルダパス"
RAKUTEN_USER_ID = "楽天のユーザーID"
RAKUTEN_PASSWORD = "楽天のパスワード"
DB_NAME = "データベースの名前"
DB_USER = "データベースのユーザー名"
DB_PASSWORD = "データベースのパスワード"
DB_HOST = "データベースのホスト名"
DB_PORT = "データベースのポート番号"
DRIVER_PATH = "WebDriverのパス(.exeのパス)"